
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #282c34; */
    background: linear-gradient(to right, rgb(3,17,178), rgb(59,0,114));
  }
  
  .form-wrapper {
    width: 100%;
    max-width: 500px; /* Set the maximum width of the form */
    padding: 20px;
    /* background-color: #1c1e22;  */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .custom-placeholder::placeholder {
    color: #aaa; /* Placeholder text color */
  }
  
  .text-primary {
    color: #007bff; /* Bootstrap primary color */
  }
  
  .text-center h1 {
    font-size: 2rem;
    color: #007bff;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .bg-transparent {
    background-color: transparent !important;
  }
  
  .text-white {
    color: white !important;
  }
  
  .input-group-text {
    color: white;
  }
  
  .input-group-text .fa {
    color: white;
  }
  
  .form-control {
    color: white;
  }
  
  .custom-placeholder::placeholder {
    color: grey !important;
  }